/* =====Common===== */
body{
    font-family: 'Open Sans', sans-serif;
}
.primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
main section{
    margin-top: 130px;
}
.section-titile{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* =====Nav===== */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}
nav .nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* =====Header===== */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* =====Bannner===== */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .banner-img{
    width: 500px;
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* =====Main===== */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* =====About===== */
.about{
    border-radius: 10px;
    background: #fbece3;
    padding: 130px 150px;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.about-info .info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}
.about-info .info-description{
    color: #474747;
    font-size: 20px;    
    font-weight: 700;
    line-height: 30px;
    margin-top: 5px;
}

/* =====What I Do===== */
#what-i-do-description{
    margin: 20px 200px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.skill{
    text-align: center;
    border-radius: 5px;
    background: #ebe7e7;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* =====Reesume===== */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 30px;
}
.resume-item{
    margin-bottom: 40px;
}
.resume-item-title{
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    max-width: 80%;
}
.resume-column hr{
    margin: 0px 50px 10px 30px;
}
.download-cv{
    text-align: center;
}
